body {
	margin: 0px;
	padding: 0px;
	font-family: 'Darker Grotesque', sans-serif;
	/*background-color: #ff6135;*/
	background-color: #ff6135;
	background-image: url("https://github.com/LisaLeeNM/lisa-pwp/tree/master/public_html/documentation/jason-leung-corner.jpg");
}

.welcome-font {

}

.section-font {
	font-family: 'Cambay', sans-serif;
}



/*#header {*/
/*	width: 900px;*/
/*	margin: 0px auto 0px auto;*/
/*	border: 1px solid #000;*/
/*	clear: both;*/
/*}*/

/*#logo {*/
/*	width: 400px;*/
/*	float: left;*/
/*	border: 1px solid #000;*/
/*}*/

/*#navbar {*/
/*	width: 900px;*/
/*	margin: 0px auto 0px auto;*/
/*	border: 1px solid #000;*/
/*	clear: both;*/
/*}*/

/*#content {*/
/*	width: 900 px;*/
/*	margin: 0px auto 0px auto;*/
/*	border: 1px solid #000;*/
/*}*/

/*#contentleft {*/
/*	width: 550px;*/
/*	float: left;*/
/*	border: 1px solid #000;*/
/*}*/

/*#sidebar {*/
/*	width: 300px;*/
/*	float: right;*/
/*	border: 1px solid #000;*/
/*}*/

/*#footer {*/
/*	width: 900px*/
/*	margin: 0px auto 0px auto;*/
/*	border: 1px solid #000;*/
/*	clear: both;*/
/*}*/