/***
GENERAL BODY STYLES
 */
body {
	font-family: 'Darker Grotesque', sans-serif;
	background-color: #ff6135;
	background-color: rgba(197, 252, 255, 0.79);
	/*background-image: url("https://github.com/LisaLeeNM/lisa-pwp/tree/master/public_html/documentation/jason-leung-corner.jpg");*/
}

/***
HOMEPAGE STYLES
 */
#homepage {
	margin: 10px;
	padding: 2.75rem 0;
}

#homepage img {
	width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.welcome {
	padding-top: 30px;
}

.section-font {
	font-family: 'Cambay', sans-serif;
}

/***
ABOUT ME STYLES
 */
#about-me img {
	width: 300px;
	float: left;
	margin-left: 4rem;
	margin-right: 4rem;
}

/***
PORTFOLIO STYLES
 */
#portfolio {
	text-align: center;
}

#collapseOne img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#collapseTwo img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 40%
}

#collapseThree img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 55%
}

#contact-form {
	padding-top: 40px;
	padding-bottom: 40px;
}

button {
	margin-top: 15px;
	margin-right: 10px;
}